---
import Layout from '../../components/layout/Layout.astro';
import PageTitle from '../../components/ui/PageTitle';
import Section from '../../components/ui/Section';
---

<Layout
  description="Jornada De Puertos Abiertas — a maybe:fiction production."
  title="Jornada De Puertos Abiertas · maybe:fiction"
>
  <Section>
    <div class="page-header">
      <PageTitle>Jornada De Puertos Abiertas</PageTitle>
    </div>
  </Section>
</Layout>
