@use 'constants' as *;

.error-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  @media (min-width: $breakpoint-sm) {
    gap: 40px;
  }
}

.error-page-header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $breakpoint-sm) {
    gap: 24px;
  }
}
