// Main color palette
$color-white: #ffffff;
$color-stone-50: #faf8f6;
$color-stone-100: #f5f1ef;
$color-stone-200: #e8e2df;
$color-stone-300: #d8d0cc;
$color-stone-400: #aaa19c;
$color-stone-500: #7a706b;
$color-stone-600: #5a504b;
$color-stone-700: #463d39;
$color-stone-800: #2b2322;
$color-stone-900: #1e1616;
$color-stone-950: #0e0908;

// maybe:fiction logo color palette
$color-mauve: #a6869a;
$color-purple: #9d839d;
$color-rose: #b98894;
$color-blue: #90afbb;
$color-dusty: #816767;
$color-dark: #3e3e32;

$font-family-sans: 'Inter', sans-serif;

// Breakpoints for responsive design
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$max-width: 1100px;
