@use 'constants' as *;

.detail-well {
  margin-top: 24px;
  padding: 24px;
  border-radius: 4px;
  background-color: rgba($color-rose, 0.08);
  border: 1px solid rgba($color-rose, 0.15);
  overflow: hidden;

  @media (min-width: $breakpoint-sm) {
    padding: 32px;
  }
}

.dark .detail-well {
  background-color: rgba($color-stone-100, 0.05);
  border-color: rgba($color-stone-100, 0.1);
}

.detail-well-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 8px;

  @media (min-width: $breakpoint-sm) {
    font-size: 1.25rem;
  }
}

.detail-well-description {
  font-size: 1rem;
  line-height: 28px;
  color: rgba($color-stone-950, 0.7);

  p {
    margin: 0 0 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dark .detail-well-description {
  color: rgba($color-stone-100, 0.7);
}
