@use 'constants' as *;

.page-title {
  font-family: $font-family-heading;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 500;

  @media (min-width: $breakpoint-lg) {
    font-size: 2.25rem;
    line-height: 44px;
  }
}
