@use 'constants' as *;

// Page header

.photo-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  @media (min-width: $breakpoint-sm) {
    gap: 40px;
  }
}

.gallery-description a {
  text-decoration: underline;
}
