---
import PageDescription from '../components/ui/PageDescription';
import PageTitle from '../components/ui/PageTitle';
import Section from '../components/ui/Section';
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Lorem ipsum dolor sit amet."
  title="Bookshelf · Homebase"
>
  <Section>
    <div class="bookshelf-header">
      <PageTitle>My Bookshelf</PageTitle>
      <PageDescription>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.</PageDescription>
    </div>
  </Section>
</Layout>
