---
import Layout from '../components/layout/Layout.astro';
import PageTitle from '../components/ui/PageTitle.astro';
import Section from '../components/ui/Section.astro';
import { contactPage } from '../data/contact';
---

<Layout
  description={contactPage.metaDescription}
  title={contactPage.metaTitle}
>
  <Section>
    <PageTitle>{contactPage.title}</PageTitle>
    <ul class="page-list">
      {contactPage.items.map((item) => (
        <li>{item}</li>
      ))}
    </ul>
  </Section>
</Layout>
