---
import Layout from '../components/layout/Layout.astro';
import PageTitle from '../components/ui/PageTitle';
import Section from '../components/ui/Section';
---

<Layout
  description="Get in touch with maybe:fiction."
  title="Contact · maybe:fiction"
>
  <Section>
    <div class="page-header">
      <PageTitle>Contact</PageTitle>
      <ul class="page-list">
        <li>Contact info</li>
        <li>Sign Up For Newsletter</li>
      </ul>
    </div>
  </Section>
</Layout>
