---
import Layout from '../components/layout/Layout.astro';
import PageTitle from '../components/ui/PageTitle';
import PageDescription from '../components/ui/PageDescription';
import Section from '../components/ui/Section';
---

<Layout
  description="Support maybe:fiction."
  title="Donation · maybe:fiction"
>
  <Section>
    <div class="page-header">
      <PageTitle>Donation</PageTitle>
      <PageDescription>Content TBD.</PageDescription>
    </div>
  </Section>
</Layout>
