---
import Layout from '../components/layout/Layout.astro';
import PageDescription from '../components/ui/PageDescription';
import PageTitle from '../components/ui/PageTitle';
import Section from '../components/ui/Section';
---

<Layout
  description="Support maybe:fiction."
  title="Donate · maybe:fiction"
>
  <Section>
    <div class="page-header">
      <PageTitle>Donate</PageTitle>
      <PageDescription>Help us continue to create art with our community!</PageDescription>
    </div>
  </Section>
</Layout>
