---
import Layout from '../../components/layout/Layout.astro';
import PageTitle from '../../components/ui/PageTitle';
import Section from '../../components/ui/Section';
import { rituals } from '../../data/rituals';

export function getStaticPaths() {
  return rituals.map((r) => ({
    params: { slug: r.slug },
    props: r,
  }));
}

const { title, metaDescription } = Astro.props;
---

<Layout
  description={metaDescription}
  title={`${title} · maybe:fiction`}
>
  <Section>
    <div class="page-header">
      <PageTitle>{title}</PageTitle>
    </div>
  </Section>
</Layout>
