---
import Layout from '../../components/layout/Layout.astro';
import PageTitle from '../../components/ui/PageTitle';
import Section from '../../components/ui/Section';
---

<Layout
  description="Just Give Me A Moment — a maybe:fiction gathering."
  title="Just Give Me A Moment · maybe:fiction"
>
  <Section>
    <div class="page-header">
      <PageTitle>Just Give Me A Moment</PageTitle>
    </div>
  </Section>
</Layout>
